

.roomimage-container {
  width: 100%;
  height: 100vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRYeijo-5KEOoUXGTzqTq55zghG-YgvudjBQ&usqp=CAU");
}

.roomimage {
  width: 100%;
  height: 100%;
}

.painting-container {
  
}

.painting {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 580px) { /* Adjusted max-width */
  .painting-container {
    height: calc(100vh - 300px); /* Keep the same height as original */
  }
}

@media only screen and (max-width: 576px) {
  .roomimage-container {
    background-size: 100%;
    background-position: center;
  }
  .roomimage {
    width: 100%;
    height: 100%;
  }

  .painting {
    height: 100px;
    width: 100px;
  }

  .painting-container {
  }
}

@media only screen and (max-width: 480px) {
  .roomimage-container {
    background-size: 100%;
    background-position: center;
  }
  .roomimage {
    width: 100%;
    height: 100%;
  }

  .painting-container {
  }
}
