.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 25px; /* Adjust size as needed */
     font-weight: 700;
     margin-left: 50PX;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  
  .list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 100px;
  }
  
  .tags {
  font-size: 15px;
  font-weight: 400;
    margin-left: 20px; /* Adjust spacing between tags */
  }
  .tags:hover{
    font-size:18PX;
    font-weight: 600;

  }
  @media only screen and (max-width: 768px) {

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
    
    .logo {
      font-size: 20px; /* Adjust size as needed */
       font-weight: 400;
       margin-right: 30px;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    }
    
    .list {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    
    .tags {
    font-size: 10px;
    font-weight: 300;
      margin-left: 15px; /* Adjust spacing between tags */
    }
    .tags:hover{
      font-size:15PX;
      font-weight: 500;
  
    }
  }
  
  
  